//blog css
.banner {
  width: 100%;
  height: 500px;
  background-image: url(../../images/knowledge/bannerv2.jpg);
  background-size: cover;
}

.blog-post {
  padding: 10px;
}

//question css

.askquestion {
  margin: 10px;
  justify-content: center;
}
